.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-fluid {
  display: flex;
}

.wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-model {
  position: relative;
}

.img-glass {
  position: absolute;
  top: 100px;
  left: 82px;
  width: 50%;
  height: 8%;
  opacity: 0.8;
}
.note {
  color: chartreuse;
  font-weight: 500;
}
.title {
  color: blue;
  font-weight: 700;
  font-size: 80px;
  margin-bottom: 50px;
}
.card-body {
  padding: 0;
  margin: 0;
}

.card-img:hover {
  box-shadow: 2px 2px 2px 2px #61dafb;
}

.card-img {
  cursor: pointer;
}
